In [12]:
import pandas as pd

countries = pd.read_csv('countries.csv', header=None)
teams = pd.read_csv('teams.csv', header=None)

In [13]:
countries.head()

,0,1,2,3,4
0,ABKHAZIA,Abkhazia,Абхазия,null,null
1,AD,Andorra,Андорра,AND,20
2,AE,United Arab Emirates,Объединённые Арабские Эмираты,ARE,784
3,AF,Afghanistan,Афганистан,AFG,4
4,AG,Antigua and Barbuda,Антигуа и Барбуда,ATG,28

In [14]:
teams.head()

             0    1  2    3
0  Afghanistan  AFG  5  NaN
1      Albania  ALB  5  5.0
2      Algeria  ALG  5  5.0
3      Andorra  AND  5  NaN
4       Angola  ANG  5  5.0